<?xml version="1.0"?>
<ruleset>
	<file>src</file>
	<file>test</file>
	<exclude-pattern>*/*.data/*</exclude-pattern>
	<arg name="bootstrap" value="test/bootstrap.php"/>
	<rule ref="Corpus" />
</ruleset>
